.form-section {
  width: 50%;
  margin: 0 auto;
  border: 1px solid red;
}
.form-container {
  width: 90%;
  margin: 0 auto;
}
.input-area {
  margin-bottom: 1.5rem;
  width: 100%;
}
.input-area input,
label,
textarea,
select {
  width: 100%;
  font-size: 1rem;
}
.input-area input {
  margin-top: 0.5rem;
  height: 2.3rem;
}
.input-area textarea {
  height: 4rem;
  padding: 5px;
}
.input-area select {
  height: 2.3rem;
  margin-bottom: 1rem;
}
/* .about .about-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
} */
/* .about .about-content .about-text{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}
.about .about-image {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    overflow: hidden;
}

.about .about-image img {
    width: 100%;
    border-radius: 5px;
}
.about .about-content .personal-info{
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    margin-bottom: 10px;
}
.about .about-content .about-info-title{
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
    font-size: 24px;
    color: #302e4d;
    padding: 0;
    margin-bottom: 30px;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
    border-bottom: 1px solid #e8dfec;
    width: 100%;
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 80px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    margin: 30px 0;
    width: 100%;
}
.about .about-content .skills .skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
    
}
.about .about-content .skills .skill-item .progress{
    background-color: #e3e3e3;
    height: 7px;
    width: 100%;
    position: relative;
    border-radius: 4px;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    height: 100%;
    transition: 0.3s;
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    line-height: 40px;
    color: #302e4d;
    right: 0;
    top: -40px;
}
.about .about-content .education{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content .experience{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #302e4d;
}
.about .about-content .timeline-box{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: #fdf9ff;
    padding: 30px;
    border: 1px solid #d4d4e3;
    border-radius: 12px;
    width: 100%;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 35px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 7px;
    top: 3px;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    height: 15px;
    width: 15px;
    top: 3px;
    left: 0;
    border-radius: 50%;
}
.about .about-content .timeline .timeline-date{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #504e70;
}
.about .about-content .timeline .timeline-date i{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #302e4d;
    text-transform: capitalize;
}
.about .about-content .timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
} */

/* Responsive Css */
@media (max-width: 1199px) {
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
    overflow: auto;
  }
}

@media (max-width: 767px) {
  .about .about-image,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .about .about-content .skills .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
