.search_bar {
  max-width: 450px;
  display: flex;
  height: 40px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid teal;
}
.search_bar > * {
  background-color: white;
}
.search_bar > input {
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  outline: none;
  font-size: large;
  border: none;
  width: 100%;
  text-align: center;
}
.search_bar button,
.btn_main {
  color: white;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: teal;
  border: 1px solid teal;
  cursor: pointer;
  outline: none;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}
.search_bar button:active,
.btn_main:active {
  opacity: 0.5;
}
.search_bar button:hover,
.btn_main:hover {
  outline: none;
  color: teal;
  background-color: transparent;
}
.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.home_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-inline: auto;
}
@media (max-width: 1050px) {
  .home_container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.job_details {
  display: flex;
  align-items: center;
  max-width: 600px;
  flex-direction: column;
  margin-top: 100px;
}
