.preloader {
    background: #222222;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.loading-data {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 20px;
    margin: -10px 0 0 -150px;
    text-align: center;
}

.three-bounce div {
    width: 30px;
    height: 30px;
    background-color: #28ba00;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: threeBounceDelay 1.4s infinite ease-in-out;
    animation: threeBounceDelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0 1px;
}

.three-bounce .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.three-bounce .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes threeBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #EC84AA;
    }
}

@keyframes threeBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #EC84AA;
    }
}