/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap");

/* General Style  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}


body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #f2f2fc;
}

::after,
::before {
  box-sizing: border-box;
  transition: 0.3s;
}

input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

.section {
  background: transparent !important;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  position: fixed !important;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  animation: slideSection 1s ease;
}

@-webkit-keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.section .my-container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.shadow-dark {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}


/* Brand Colo css */
.aside .logo a::before {
  border-top: 4px solid teal !important;
  border-left: 4px solid teal !important;
}
.aside .logo a::after {
  border-right: 4px solid teal !important;
  border-bottom: 4px solid teal !important;
}

.aside .my-nav li a:hover,
.aside .my-nav li a.active {
  color: teal !important;
}


.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
  background-color: teal !important;
}


/* Responsive Css */
@media (max-width: 1199px) {
  .section .my-container {
    padding-top: 70px;
  }
  .section {
    left: 0 !important;
  }
}

@media (max-width: 575px) {
  .section {
    animation: none !important;
    position: initial !important;
  }
}
